<a href="https://colab.research.google.com/github/argosmaia/Formacao-Ciencia-de-dados-2023/blob/master/exerciciolimpezadedados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import seaborn as srn
import statistics as est

In [7]:
dataset = pd.read_csv("/content/tempo.csv", sep=";")
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
dataset.shape

(14, 5)

In [8]:
#contamos valores NaN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [9]:
mediana = est.median(dataset["Umidade"])
mediana

85.5

In [12]:
#substituir NaN por mediana
dataset["Umidade"].fillna(mediana, inplace=True)

In [14]:
#verificamos se NaN não existem mais
dataset["Umidade"].isnull().sum()

0

In [18]:
dataset["Vento"].fillna("FALSO", inplace=True)
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [19]:
dataset.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70     85.5       FALSO   sim
4     chuva           68     80.0       FALSO   sim